.profile__info {
  display: grid;
  row-gap: 7px;
  column-gap: 18px;
  grid-template-areas:
    "title button"
    "description description";
  align-items: flex-end;
  margin: auto auto auto 30px;
}

@media (max-width: 670px) {
  .profile__info {
    align-items: center;
    margin: 0 0 36px 0;
  }
}
